.stopwatch {
  @apply rounded-lg border dark:border-[#3e3e3e] dark:bg-[#313131];
  @apply mx-auto flex flex-col gap-5 p-4;
  max-width: max-content;
}

.stopwatch .time {
  font-family: monospace, sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}

.stopwatch .controls {
  @apply flex flex-wrap justify-center gap-2;
}
