@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    @apply text-[#213547] dark:text-white/[0.87] bg-[#ffffff] dark:bg-[#242424];
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply flex min-w-80 min-h-screen;
  }
}
