@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    @apply bg-[#ffffff] text-[#494949] dark:bg-[#242424] dark:text-white/[0.87];
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply flex min-h-screen min-w-80;
  }
}
